<!-- <header class="main-header">
<div class="container-fluid dashboard-header-nav">
    <div class="page-title">
        <div class="row align-items-center">
            <div class="col-3">
                <h1 class="text-24 font-light text-darkblue">Dashboard</h1>
            </div>
            <div class="col-9">
                <ul class="header-top-right-menus">
                    <li>
                        <span class="header-search">
                            <i class="icon-search"></i>
                        </span>
                    </li>
                    <li>
                        <a class="notification-box dropdown-toggle" id="dropdownnotificationButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-notification"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownnotificationButton">
                            <a class="dropdown-item" href="#">Error</a>
                            <a class="dropdown-item" href="#">Notification 1</a>
                            <a class="dropdown-item" href="#">Notification 1</a>
                            <a class="dropdown-item" href="#">Notification 1</a>
                        </div>
                    </li>
                    <li>
                        <span class="question-box">
                            <i class="icon-question-mark"></i>
                        </span>
                    </li>
                    <li>
                        <a class="lang-box">
                            <img src="assets/images/alogo.png" width="" height="" alt=""/>
                        </a>
                    </li>
                    <li class="profile-wrapper">
                        <a class="profile-box dropdown-toggle" id="dropdownprofileButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/users-photo.png" width="33" height="33" alt="User Photo"/>
                            <span class="profile-name-rights">
                                <b>ABC</b>
                                <span>ArieoTech</span>
                            </span>
f
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownprofileButton">
                            <a class="dropdown-item" href="#">Account</a>
                            <a class="dropdown-item" href="#">Inbox</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Log in</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header> -->

<div class="d-block d-sm-block d-md-none d-lg-none">    
    <body class="dashboard-page">
    <header class="head-navigation" >
        <div class="toggle-sidebar">
            <a class="toggle-icon" >
                <span class="one" ></span>
                <span class="two" ></span>
                <span class="three" ></span>
            </a>
        </div>
    <a href="/" class="logo" title="Profile Connector">
            <img src="./assets/images/profileconnector.png" width="" height="" alt="Profile Connectro"/>
        </a>
        <a class="icon-three-dots-vertical-header">
            <i class="icon-three-dots-vertical"></i>
        </a>
        <ul class="header-right-bar">
            <li class="active">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                    <i class="fas fa-user"></i>&nbsp;<b>ABC</b><br><span
                        class="direct-chat-timestamp float-right">ArieoTech</span>
                </a>
            </li>
            <li>
                <a class="question-box" >
                    <i class="icon-question-mark"></i>
                    
                </a>
            </li>
            <li>
                <a class="notification-box dropdown-toggle" id="dropdownnotificationButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-notification"></i>
            </a>
            </li>
            <li>
                <span class="header-search">
                    <i class="icon-search"></i>
                </span>
            </li>
        </ul>
    </header>
    </body>
    </div>
    
    <div class="d-none d-sm-none d-md-block d-lg-block">
        <div class="container-fluid dashboard-header-nav">
            <div class="page-title">
                <div class="row align-items-center">
                <div class="col-4">
                        <h1 class="text-24 font-light text-darkblue">Pagename</h1>
                    </div>
                    <div class="col-8">
                        <ul class="header-top-right-menus">
                            <li>
                                <span class="header-search">
                                    <i class="icon-search"></i>
                                </span>
                            </li>
                            <li>
                                <a class="notification-box dropdown-toggle" id="dropdownnotificationButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="icon-notification"></i>
                            </a>
                            </li>
                            <li>
                                <a >
                                <span class="question-box">
                                        <i class="icon-question-mark"></i>
                                     
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item d-none d-sm-none d-md-block d-lg-block">
                                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                                    <i class="fas fa-user"></i>&nbsp;<b>ABC</b><br><span
                                        class="direct-chat-timestamp float-right">ArieoTech</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>