
<body class="login-page">
  <main class="main-content">
    <div class="login-form-wrapper">
      <div class="login-form-radius">
        <div class="login-form-head">
          <a href="/" title="Shop Connector">
            <img src="./assets/images/forgotpassword.png" width="100" height="36" alt="Shop Connector" />
          </a>
        </div>
        <div class="login-form-content">
          <h2 class="text-darkgrey text-10 font-semibold">Please Enter your Email-ID here.. </h2>
            <form [formGroup]="ForgotForm" (ngSubmit)="OnSave()" #myform="ngForm">
              <div class="form-group form-group-design text-left">
                <label for="emailID">Email-ID</label>
                <input type="text" id="emailID" formControlName="emailID" class="form-control"
                [ngClass]="{'is-invalid': submitted && f.emailID.errors}" />
                 <div *ngIf="submitted && f.emailID.errors" class="invalid-feedback">
                <div *ngIf="f.emailID.errors.required">EmailId is required</div>
                <div *ngIf="f.emailID.errors.email">EmailId is invalid</div>
               </div>
            
              </div>
              <button type="submit" class="primary-bttn" title="Save" (click)="OnSave()">Save</button>              <div>
                <div></div>
              </div>
