
<body class="login-page">
  <main class="main-content">
    <div class="login-form-wrapper">
      <div class="login-form-radius">
        <div class="login-form-head">
          <a href="/" title="Shop Connector">
            <img src="./assets/images/shopgig.png" width="100" height="36" alt="Shop Connector" />
          </a>
        </div>
        <div class="login-form-content">
          <h1 class="text-darkgrey text-16 font-bold">Please enter your email here.. </h1>
            <form [formGroup]="ForgotForm" (ngSubmit)="OnSave()" #myform="ngForm" >
              <div class="form-group form-group-design text-left">
              <label for="emailid">Email</label>
                <input  type="email"  class="form-input" id="emailid" aria-describedby="emailid"
                 formControlName="emailID" 
                [ngClass]="{'is-invalid': submitted && f.emailID.errors}"/>
                 <div *ngIf="submitted && f.emailID.errors" class="invalid-feedback">
                <div *ngIf="f.emailID.errors.required">Email is required</div>
                <div *ngIf="f.emailID.errors.email">Email invalid</div>
               </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="OnSave()">Send Link to Email</button>&nbsp;            
                  <button type="submit" class="btn btn-primary" (click)="OnReset()">
                Back to Sign in
           </button>            <div>
                <div></div>
              </div>

              