<div *ngIf="isLoggedIn$ | async as isLoggedIn" class="d-none d-sm-none d-md-block d-lg-block">
    <div class="sidebar-wrapper" >
      <div class="logo-wrapper">
        <a class="logo" title="Shopgig">
          <img src="./assets/images/shopgig.png" width="" height="" alt="Shopgig"
            class="logo-desktop" />
          <img src="./assets/images/shopgig-toggle.png" class="logo-toggle" width="" height=""
            alt="Shopgig" />
        </a>
      </div>
  
      <div class="toggle-sidebar">
        <a class="toggle-icon" >
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </a>
      </div>
      <div class="sidebar-menu ">
        <ul class="sidebar-links ">
          <li class="sidebar-list"  style="cursor: pointer">
            <a href="#" routerLink="/dashboard" class="sidebar-link" title="Dashboard">
              <i class="icon-dashboard"></i>&nbsp;&nbsp;<span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-list "  style="cursor: pointer">
            <a  class="sidebar-link" title="Store Setup">
              <i class="icon-my-profile" style="cursor: pointer"></i>&nbsp;&nbsp;<span>Store Setup</span>
            </a>
          </li>
  
          <li class="sidebar-list" style="cursor: pointer">
            <a  class="sidebar-link" title="Category">
              <i class="icon-profile-management"></i>&nbsp;&nbsp;<span>Category</span>
            </a>
          </li>         
          <li class="sidebar-list"  style="cursor: pointer">
            <a class="sidebar-link" title="Inventory">
              <i class="icon-settings"></i>&nbsp;&nbsp;<span>Inventory</span>
            </a>  
          </li>
           
          <li style="list-style: disc;" class="sidebar-list" 
            style="cursor: pointer">
            <a  class="sidebar-link logout-nav-bottom" title="Logout">
              <i class="icon-box-arrow-down"></i>&nbsp;&nbsp;<span>Logout</span>
            </a>
          </li>
        </ul>
  
      </div>
    </div>
  </div>
  
  <div class="d-block d-sm-block d-md-none d-lg-none">
  
    <div class="sidebar-wrapper">
      <div class="logo-wrapper">
        <a href="/dashboard" class="logo" title="Shopgig">
          <img src="./assets/images/shopgig.png" width="" height="" alt="Shopgig"
            class="logo-desktop" />
          <img src="./assets/images/shopgig-toggle.png" class="logo-toggle" width="" height=""
            alt="Shopgig" />
        </a>
      </div>
  
      <div class="toggle-sidebar">
        <a class="toggle-icon">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </a>
      </div>
      <div class="sidebar-menu ">
        <ul class="sidebar-links ">
          <li class="sidebar-list"  style="cursor: pointer">
            <a class="sidebar-link" title="Dashboard">
              <i class="icon-dashboard"></i>&nbsp;&nbsp;<span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-list "  style="cursor: pointer">
            <a class="sidebar-link" title="My Profile">
              <i class="icon-my-profile" style="cursor: pointer"></i>&nbsp;&nbsp;<span>My Profile</span>
            </a>
          </li>
          <li class="sidebar-list"  style="cursor: pointer">
            <a  class="sidebar-link" title="Users">
              <i class="fas fa-users"></i>&nbsp;&nbsp;<span>Users</span>
            </a>
          </li>
  
          <li class="sidebar-list"  style="cursor: pointer">
            <a  class="sidebar-link" title="Profiles">
              <i class="icon-profile-management"></i>&nbsp;&nbsp;<span>Profiles</span>
            </a>
          </li>
  
          <li class="sidebar-list"  style="cursor: pointer">
            <a  class="sidebar-link" title="Organizations">
              <i class="fas fa-landmark"></i>&nbsp;&nbsp;<span>Organizations</span>
            </a>
          </li>
  
          <li class="sidebar-list" 
            style="cursor: pointer">
            <a  class="sidebar-link" title="Plans">
              <i class="fas fa-ticket-alt"></i>&nbsp;&nbsp;<span>Plans</span>
            </a>
          </li>
    
          <li class="sidebar-list"  style="cursor: pointer">
            <a  class="sidebar-link" title="Reports">
              <i class="icon-reports"></i>&nbsp;&nbsp;<span>Reports</span>
            </a>
            <br>
            <ul>
              <li class="sidebar-list"  style="cursor: pointer"
               >
                <a  class="sidebar-link" title="Reports">
                  <i class="icon-reports"></i>&nbsp;&nbsp;<span>Reports</span>
                </a>
              </li>
              <li class="sidebar-list"  style="cursor: pointer"
                >
                <a  class="sidebar-link" title="ConsumptionReportClick">
                  <i class="icon-reports"></i>&nbsp;&nbsp;<span>Consumption Report</span>
                </a>
              </li>
              <br>
              <li class="sidebar-list"  style="cursor: pointer"
                >
                <a class="sidebar-link" title="BulkReportClick">
                  <i class="icon-reports"></i>&nbsp;&nbsp;<span>Bulk Report</span>
                </a>
              </li>
            </ul>
          <li style="list-style: disc;" class="sidebar-list" 
            style="cursor: pointer">
            <a  class="sidebar-link logout-nav-bottom" title="Logout">
              <i class="icon-box-arrow-down"></i>&nbsp;&nbsp;<span>Logout</span>
            </a>
          </li>
        </ul>
  
      </div>
    </div>
  </div>