<body class="login-page">
  <main class="main-content">
    <div class="login-form-wrapper">
      <div class="login-form-radius">
        <div class="login-form-head">
          <a href="/" title="Shop Connector">
            <img src="./assets/images/register.png" width="100" height="36" alt="Shop Connector" />
          </a>
        </div>
        <div class="login-form-content">
          <h2 class="text-darkgrey text-16 font-semibold">Please fill your Registration form. </h2>
          <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()" #myform="ngForm">
            <div class="form-group form-group-design text-left">
              <label for="firstName">First-name</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Please Enter the First Name.</div>
                <div *ngIf="f.firstName.errors.minlength">
                  First Name must be at least 25 characters long.
                </div>
                
              </div>
            </div>

            <div class="form-group form-group-design text-left">
              <label for="lastName">Last-Name</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted  && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Please Enter the LastName.</div>
                <div *ngIf="f.lastName.errors.minlength">
                  LastName must be at least 5 characters long.
                </div>
              </div>
            </div>

            <div class="form-group form-group-design text-left">
              <label for="userName">User-Name</label>
              <input type="text" id="userName" formControlName="userName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
              <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">Please Enter the UserName.</div>
                <div *ngIf="f.userName.errors.minlength">
                  Username must be at least 25 characters
                </div>
              </div>
            </div>
            <div class="form-group form-group-design text-left">
              <label for="phoneNo">Phone-No</label>
              <input type="text" id="phoneNo" formControlName="phoneNo" class="form-control"
                [ngClass]="{ 'is-invalid':  submitted && f.phoneNo.errors }" />
              <div *ngIf="f.phoneNo.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNo.errors.required">Please Enter the Phone-no.</div>
                <div *ngIf="f.phoneNo.errors.minlength">
                  Phone-No must be at least 10 characters
                </div>
              </div>
            </div>
            <div class="form-group form-group-design text-left">
              <label for="emailId">Email-Id</label>
              <input type="text" id="emailId" formControlName="emailId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted &&  f.emailId.errors }" />
              <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                <div *ngIf="f.emailId.errors.required">Please Enter the Email-ID</div>
                <div *ngIf="f.emailId.errors.email">Email is invalid</div>
              </div>
            </div>

            <div class="form-group form-group-design text-left">
              <label for="password">Password</label>
              <input type="text" id="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid':  submitted && f.password.errors }" />
              <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Please enter the Password.</div>
                <div *ngIf="f.password.errors.minlength">
                  Password must be at least 8 characters
                </div>
              </div>
            </div>
            <div class="form-group form-group-design text-left">
              <label for="confirmPassword">Confirm-Password</label>
              <input type="text" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid':  submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Please enter the confirm-Password.</div>
                <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.
                </div>

              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Register</button>
              <button type="button" class="btn btn-warning float-right" (click)="OnReset()">
                Reset
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>